.IntroBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 119px;
    position: absolute;
    width: 1171px;
    height: 400.87px;
    left: 195px;
    top: 196px;
}

.greetingMemoji {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    gap: 2px;
    width: 439px;
    height: 93px;
}

.Memoji {
    width: 20%;
    height: auto;
}

.NameParagraph {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1px;
    width: 542px;
    height: 301px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 27.65px;
    line-height: 38px;
    letter-spacing: 0.03em;
    color: #2F2F32;
}

.nameColor {
    color: #943AD0;
}

.resumeText {
    color: #943AD0;
    text-decoration: underline;
    font-size: 23.04px;
}

.Tri {
    width: 497.59px;
    height: 400.87px;
}

.projectHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    position: absolute;
    left: 193px;
    top: 675px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 27.65px;
    line-height: 38px;
    letter-spacing: 0.02em;
    color: #1C1C1E;
}

.ProjectIcon {
    position: absolute;
    width: 100px;
    height: 74px;
    left: 343px;
    top: 644px;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 12px;
    gap: 69px;
    position: absolute;
    width: 1141px;
    height: 1221px;
    left: 180px;
    top: 750.88px;
}

.topProjects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;
    gap: 111px;

    width: 1129px;
    height: 576px;

}

.project1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 34px;
    width: 503px;
    height: 576px;
}

.titleDesc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    width: 477px;
    height: 130px;
}

.titleDesc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    width: 477px;
    height: 130px;
}

.projectTitle {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 23.04px;
    line-height: 38px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #1C1C1E;
}

.projectDescrip {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 19.2px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #3C3C3F;
}

.ViewStudyLink {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 4px;
    width: 164px;
    height: 28px;
}

.viewCaseStudy {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 19.2px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #943AD0;
    width: 146px;
    height: 28px;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;
    position: absolute;
    width: 111px;
    height: 38px;
    left: 702px;
    top: 2015px;
}

.aboutText {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 23.04px;
    line-height: 38px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 479px;
    position: absolute;
    width: 1129px;
    height: 131px;
    left: 193px;
    top: 2115px;
}

.connectMemoji {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 275px;
    height: 85px;
    left: 0px;
    top: -31px;
}

.letsConnect {
    width: 225px;
    height: 38px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 27.65px;
    line-height: 38px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #1C1C1E;
}

.bodySocials {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    position: absolute;
    width: 272px;
    height: 16px;
    left: 0px;
    top: 52px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #3C3C3F;
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 2px;
}

.mail {
    position: absolute;
    width: 322px;
    height: 19px;
    left: -7px;
    top: 85px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #3C3C3F;
}

.copyrightDesign {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;
    gap: 14px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    text-align: center;
    letter-spacing: 0.02em;
    color: #3C3C3F;
}
