.App {
    position: relative;
    width: 1515px;
    height: 4900px;
    background: #ffffff;
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    src: local('Inter'), url(./font/Inter-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 900;
    src: local('Lato'), url(./font/Inter-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 900;
    src: local('Inter'), url(./font/Inter-Bold.ttf) format('truetype');
}