
@font-face {
    font-family: 'Inter';
    font-weight: 600;
    src: local('Inter'), url(../src/Assets/font/JosefinSans-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 900;
    src: local('Lato'), url(../src/Assets/font/JosefinSans-SemiBold.ttf) format('truetype');
}

