.body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 6px 0px 9px;
    gap: 342px;
    position: absolute;
    width: 1349px;
    height: 400.87px;
    left: calc(50% - 1349px/2 + 9px);
    top: calc(50% - 400.87px/2 - 2001.56px);
}

.introPara {
    width: 518px;
    height: 196px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    /* or 150% */
    letter-spacing: 0.16em;
    color: #1C1C1E;
}

.Tri {
    width: 497.59px;
    height: 400.87px;
}

.scrollDown {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 7px;
    position: absolute;
    width: 127px;
    height: 126px;
    left: calc(50% - 127px/2 - 3px);
    bottom: 4088px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.145em;
    color: #1C1C1E;
}

.projectHeader {
    position: absolute;
    width: 164px;
    height: 39px;
    left: calc(50% - 164px/2 + 0.5px);
    top: calc(50% - 39px/2 - 1321.5px);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    letter-spacing: 0.145em;
    color: #1C1C1E;

}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 293px;
    position: absolute;
    width: 1323px;
    height: 1547px;
    left: calc(50% - 1323px/2 + 2px);
    top: 1218px;
}

.topProjects {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 49px;
    width: 1323px;
    height: 627px;
}