.Nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px 0px;
    gap: 431px;
    width: 1262px;
    position: fixed;
    height: 103.54px;
    left: calc(50% - 1316px/2 + 19.5px);
    right: 140px;
    top: 0px;
    background-color: #ffffff;
}

.LogoAndName {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}

.Logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    width: 81.58px;
    height: 83.54px;
}

.LogoImage {
    width: 81.58px;
    height: 83.54px;
}

.nameDesig {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.name {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 27.65px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #1C1C1E;
}

.designation {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 19.2px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #1C1C1E;
}

@media screen and (max-width: 600px) {
    .Nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 100px;
        position: absolute;
        width: 335px;
        height: 35px;
        left: calc(50% - 335px/2 - 5.5px);
        top: 30px;
    }

    .LogoAndName {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        width: 207px;
        height: 35px;
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 600;
    }

    .Logo {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 10px;
        gap: 10px;
    }

    .LogoImage {
        width: 65px;
        height: 65px;
    }

    .nameDesig {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
        width: 145px;
        height: 30px;
    }

    .name {
        font-size: 18px;
        line-height: 24px;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        color: #1C1C1E;
    }

    .designation {
        font-size: 14px;
        line-height: 12px;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        color: #1C1C1E;
    }

    .menuIcon {
        left: 20px;
        right: 20px;
        top: 20px;
        bottom: 20px;
    }
}

.navMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 97px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 19.2px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #1C1C1E;
}

.ActiveLink {
    color: #943AD0;
}

.InActiveLink {
    color: #1C1C1E;
}